@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header{
    background: rgba(229, 84, 115, 0.10);
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.banner h1{
    color: #272727;
font-size: 60px;
font-weight: 700;
}
p{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
button{
    border-radius: 8px;
background: #E55473;
border: 0px;
padding: 20px 43px;
color: #FFF;
font-size: 20px;
font-weight: 500;
cursor: pointer;

}
button:hover{
    background: #d20b36;
}
.banner .text-section *{
    margin-bottom: 32px;
    max-width: 525px;
}
.banner .img-section img {
    width: 100%;
    vertical-align: middle;
}

.section-heading h2{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 600;
margin: 20px auto;
}
.section-heading p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  width: 630px;
    margin: 0px auto;

}
.container .section-content{
    display: flex;
    justify-content: space-between;
    align-items: end;
margin-top: 48px;
}
.flower{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
}
.section-content .flower .flower-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 500px;
    width: 348px;
    display: flex;
    align-items: end;
}
.container .info{
    display: flex;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
max-width: 1440px;
height: 240px;
align-items: center;
justify-content: space-around;
margin: 128px auto;

   
}
.info-content img{
    padding-left: 30px;
}
.sale{
    display: flex;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.sale-text{
 text-align: center;
padding-top: 200px;

}
.sale-text h2{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}
.sale-text p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-bottom: 20px;
}
.sale-img{
    width: 318px;
    height: 420px;
    flex-shrink: 0;
justify-content: end;
}
.importent{
    color: #E55473;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}